# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/starter-to-compare

# Vite
.vite

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# Testing
/coverage

# Production
/build
/dist

# IDE
.vscode/
