.list {
  list-style-type: none;
  padding: 0;
}

.item {
  border: 1px solid #eba267;
  padding: 12px;
  border-radius: 3px;
}

.item + .item {
  margin-top: 8px;
}

.item[data-level="ERROR"] {
  border-color: #eb6767;
}
