.root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.root a {
  color: var(--framer-color-primary);
}

.root a:hover {
  text-decoration: underline;
}

.root menu {
  display: flex;
  gap: 6px;
}

.root menu > * {
  width: auto;
  background-color: transparent;
}

.disconnectButton {
  display: inline;
  width: auto;
  padding: 0;
  color: var(--framer-color-primary);
  font: inherit;
  text-decoration: none;
  background: none;
  border: none;
}

.disconnectButton:hover,
.disconnectButton:focus {
  background: none;
  text-decoration: underline;
}
